*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}
@font-face {
    font-family: "Marta";
    src: url("fonts/Marta_Regular.otf"),
         url("../fonts/Marta_Italic.otf"),
         url("../fonts/Marta_Bold.otf");
}
img{
  max-width: 100%;
}

.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}
h2,h3,h4 {
  font-weight: normal;
}
.title {
  margin-bottom: 50px;
  position: relative;
  font-size: 30px;
  line-height: 70px;
}
.title:before {
  position: absolute;
  display: inline-block;
  content: "";
  border-bottom: 2px solid black;
  width: 60px;
  top: 130%;
}

/*HEADER*/

header {
  overflow: hidden;
}
.main-nav {
  margin-top: 240px;
  float: left;
  width: 20%;
  margin-right: 5%;
  display: inline-block;
  text-transform: uppercase;
}
.main-nav li {
  padding-bottom: 25px;
  text-align: right;
  list-style: none;
}
.main-nav a {
  text-decoration: none;
  color: #000;
}
.header-bg {
  display: inline-block;
  float: right;
  width: 75%;
}
.header-bg img {
  min-height: 680px;
}
.main-nav li:last-child {
  margin-top: 50px;
}
.btn-backcall {
  padding: 10px;
  border: 1px solid #000;
}

/*KEY*/

.key {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
}
.key-txt {
  float: left;
  width: 40%;
  margin-right: 5%;
}
.key-txt p {
  margin-bottom: 25px;
}
.key-txt a {
  text-decoration: none;
}
.key-bg {
  float: right;
  width: 55%;
}

/*SERVICES*/ 

.services {
  padding-bottom: 100px;
}
.services-item {
  position: relative;
  float: left;
  width: 23%;
  margin-right: 2%;
  margin-bottom: 2%;
  height: 450px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 14px;
}
.ser-item-txt-block {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 60%;
  padding: 40px 10px;
  background-color: #fff;
}
.ser-item-txtalot-block {
  position: absolute;
  width: 100%;
  top: 20%;
  padding: 40px 10px;
  background-color: #fff;
}
.ser-item-txtalot-block p {
  padding: 0 10px;
}
.ser-item-txtalot-block h4 {
  position: relative;
  margin-bottom: 60px;
}
.ser-item-txtalot-block h4:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 30px;
  border-bottom: 1px solid black;
  top: 270%;
  left: 40%;
}

.services-item h4 {
  white-space: nowrap;
}
.service-item-registr {
  background-image: url(../img/ser-item-bg1.jpg);
}
.service-item-flower {
  background-image: url(../img/ser-item-bg2.jpg);
}
.service-item-color {
  background-image: url(../img/ser-item-bg3.jpg);
}
.service-item-coordinator {
  background-image: url(../img/ser-item-bg4.jpg);
}
.service-item-bored {
  background-image: url(../img/ser-item-bg5.jpg);
}
.service-item-photo {
  background-image: url(../img/ser-item-bg6.jpg);
}
.service-item-cake {
  background-image: url(../img/ser-item-bg7.jpg);
}
.perfect-bg {
  position: absolute;
  left: 30%;
  top: 40%;
}
/*PORTFOLIO*/

.portfolio {
  overflow: hidden;
  padding-bottom: 100px;
}
.portfolio-txt {
  float: left;
  width: 40%;
  margin-right: 10%;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}
.portfolio-txt-title {
  font-size: 24px;
  line-height: 30px;
}
.portfolio-bg {
  float: left;
  width: 50%;
}
.portfolio-bg img {
  display: inline-block;
}
.portfolio-txt-title {
  margin-bottom: 20px;
}
.portfolio-txt p {
  margin-bottom: 20px;
}
.portfolio-bottom {
  overflow: hidden;
}
.portfolio-bottom h4{
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 10px;
}
.portfolio-bottom a {
  text-decoration: none;
  padding-bottom: 20px;
  color: #989898;
  font-size: 14px;
  line-height: 24px;
}
.portfolio-bottom a:hover {
  color: blue;
}
.left {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.right {
  float: left;
  width: 48%;
}
/*ABOUT*/

.about {
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 70px;
}
.about-item {
  float: left;
  width: 30%;
  margin-right: 3%;
}
.about-item h3 {
  font-size: 24px;
  margin-bottom: 25px;
}
.about-item ul {
  list-style: none;
}

/*CREW*/

.crew {
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 100px;
}
.crew-item {
  float: left;
  width: 18%;
  margin-right: 2%;
}
.crew h3 {
  font-size: 24px;
  margin-bottom: 25px;
}
.crew-item h4 {
  font-size: 18px;
}
.crew-item h4,
.crew-item p {
  margin: 10px 0;
}

/*FOOTER*/

.main-footer {
  background-image: url(../img/footer-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 80px;
  overflow: hidden;
  position: relative;
}
.footer-title {
  margin-top: 60px;
  margin-bottom: 100px;
  color: #fff;
  font-family: Marta;
}
.main-footer span {
  margin-right: 10px;
  color: #fff;
  font-family: Marta;
}
.main-footer a {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  color: #fff;
  font-family: Marta;
}
.footer-title:before {
  border-bottom: 2px solid #fff;
}
.main-footer p {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-family: Marta;
}
.contact-form {
  float: right;
  width: 40%;
  color: #fff;
  font-family: Marta;
}
.btn-call {
  background-color: #0f0ff5;
  border: none;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 60px;
  color: #fff;
  margin-top: 35px;
  width: 100%;
  color: #fff;
  font-family: Marta;
}
.watch-on-map {
  background-color: #fff;
  width: 20%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 40%;
  height: 30px;
}
.watch-on-map a {
  border-bottom: 1px dashed black;
  color: #000;
  font-size: 12px;
  line-height: 20px;
}
